<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="bg"></div>


<!-- header -->
   <header class = "header" id = "header">
   <div class = "head-top">
   <div class = "site-name">
    <span>RADISSON BLU</span>
    </div>
    <div class = "site-nav">
    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
    </div>
    </div>
   <div class = "head-bottom flex">
   <h2>OUR SERVICES</h2>
   <p>profitez de notre services</p>


<div class="row">
  <div class="column"></br>
  </br>
  </br>
  </br>
  </br>
  <div class="container">
    <img src="SPA.jpg" alt="Snow" style="width:98%">
	<div class="middle">
    <div class="text"> profiter de notre SPA&Thalasso </div>
  </div>
</div>
  </div>
  <div class="row">
  <div class="column"></br>
  </br>
  </br>
  </br>
  </br>
  <div class="container">
    <img src="2.jpg" alt="Forest" style="width:100%">
  <div class="middle">
    <div class="text"> profiter de notre bars et notre Restaurant</div>
  </div>
</div>
  </div>
  <div class="column">
    <img src="3.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
</div>
</header>
<!--end of header-->
 <!-- side navbar -->
   <div class = "sidenav" id = "sidenav">
    <span class = "cancel-btn" id = "cancel-btn">
    <i class = "fas fa-times"></i>
    </span>
    <ul class = "navbar">
    <li><a href = "#header">home</a></li>
   <li><a href = "#services">services</a></li>
    <li><a href = "#rooms">rooms</a></li>
    <li><a href = "#customers">customers</a></li>
    </ul>
    <button class = "btn sign-up">sign up</button>
    <button class = "btn log-in">log in</button>
    </div>
    <!-- end of side navbar -->




</body>
</html>
